[project]
	description = Python based plug-in automation framework.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Navaneetha Shivothama KS (nav-nith)
[access "refs/for/refs/*"]
	read = group user/Navaneetha Shivothama KS (nav-nith)
	push = group user/Navaneetha Shivothama KS (nav-nith)
	label-Code-Review = -2..+2 group user/Navaneetha Shivothama KS (nav-nith)
	label-Verified = -1..+1 group user/Navaneetha Shivothama KS (nav-nith)
	rebase = group user/Navaneetha Shivothama KS (nav-nith)
	removeReviewer = group user/Navaneetha Shivothama KS (nav-nith)
	submit = group user/Navaneetha Shivothama KS (nav-nith)
[access "refs/heads/*"]
	read = group user/Navaneetha Shivothama KS (nav-nith)
	create = group user/Navaneetha Shivothama KS (nav-nith)
	push = +force group user/Navaneetha Shivothama KS (nav-nith)
	pushMerge = group user/Navaneetha Shivothama KS (nav-nith)
[access "refs/tags/*"]
	push = +force group user/Navaneetha Shivothama KS (nav-nith)
	pushTag = group user/Navaneetha Shivothama KS (nav-nith)
	pushSignedTag = group user/Navaneetha Shivothama KS (nav-nith)
